[bumpversion]
current_version = 0.0.12
commit = True
tag = True
files = Cargo.lock Cargo.toml publish/pypi/src/codei/__init__.py publish/npm/package.json publish/npm/packages/darwin-arm64/package.json publish/npm/packages/darwin-x64/package.json publish/npm/packages/linux-arm64-musl/package.json publish/npm/packages/linux-x64-musl/package.json publish/npm/packages/win32-arm64/package.json publish/npm/packages/win32-x64/package.json
